@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap");

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */

html {
/* Para general scroll animado de puntos de anclas. */
scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

:root {
    /* Son variables que se crean, porque los vas a utilizar siempre en la web, como el color principal, la fuente etc... */
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuente-principal: "Montserrat", sans-serif;
    --fuente-secundaria: "Handlee", cursive;
    --fontsize: 1em;
    --anchomaximo: 68.750em;
    --margingrip: 1em;
    --padding: 0.625em;
}
/* Esto es para hacer que las imágenes se escalen, con referencia a el responsive que tengas en cada momento. */
img {
    width: 100%;
    height: auto;
    display: block;
}

main p {
    color: #777;
    line-height: 1.25em;
}

body {
    font-family: var(--fuente-principal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}


/* INICIO HEADER */

header .nav-top {
    background-color: var(--color-secundario);
    padding: calc(var(--margingrip)*2) 0px;
}

header .nav-top .container {
display: flex;
justify-content: space-around;
}

header .nav-top a {
    color: var(--color-principal);
    text-decoration: none;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    font-size: 150%;
}

header nav{
    padding: calc(var(--padding) * 2);
}

header nav .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo img {
    max-width: 6.250em;
}

header nav .hamburguesa {
    /* cursor: pointer; Hace que un enlace se convierta en clicable, y por tanto cambie el icono del ratón por la mano */
    cursor: pointer;
}

header nav .hamburguesa div {
    border-bottom: 2px solid #aaa;
    margin-bottom: var(--padding);
    width: 1.875em;
}

header nav ul {
    width: 100%;
}

header nav .menu li a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: calc(var(--padding)*2);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a {
    border-bottom: 0;
}

header nav .menu li a.activo, header nav .menu li a:hover{
    color: var(--color-principal);
}
/* FINAL HEADER */

/* INICIO FOOTER */
footer{
    background-color: var(--color-secundario);
    padding: calc(var(--padding) *2 ) 0px;
    color:white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-principal);
}

.flecha a {
    display: block;
    color:var(--color-principal);
    position: fixed;
    bottom: 70px;
    right: 20px;
    font-size: 300%;

}
 /* FINAL FOOTER */

  /* INICIO de MAIN - MENÚ - Sección Todays Menú*/
main #todaysmenu {
    background-color: var(--color-secundario);
}

main #todaysmenu2 div.container {
    color: #ffffff;
    font-family: var(--fuente-secundaria);
    font-size: 2em;
    text-align: right;
}



 /* INICIO DE MAIN - TODAYSMENU */

main section {
    padding: 2.125em 1.5em;
}

main section h2 {
    color: #ffffff;
    font-family: var(--fuente-secundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--color-principal);
}

main section .underline {
    position: relative;
    width: 6.250em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    text-align: center;
    margin-bottom: calc(var(--margingrip)*1.5);
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);

}

main #ourservice .grid {
    display: grid;
    gap: var(--margingrip);

}

main section h3 {
    font-weight: 700;
    font-size: 1.10em;
    margin: var(--padding) 0;
}

main #ourservice .grid article {
    border-bottom: 1px solid #aaa;
    padding: 1.5em 0;
}

.enlace {
    text-decoration: none;
    padding-top: var(--padding);
    display: inline-block;
    font-weight: 700;
    color: var(--color-principal);
}
.enlace i{
    transition: 1s;
}
.enlace:hover i {
    transform: translateX(5px);
}


main #ourservice article>div .fas {
    color: var(--color-principal);
    font-size: 1.5em;
    border: 1px solid var(--color-principal);
    padding: 0.5em;
}

.fa-truck {
    transform: rotateY(180deg);

}


/*INICIO MAIN - TODAYS MENÚ*/

main section #todaysmenu2 ul:hover {
    background-color: var (var(--color-principal));
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: calc(var(--padding)*2);
    color: #aaa;
    border-bottom: 1px solid #aaa;;
}

main section article {
    color: white;
}